<form [formGroup]="formularioCadastro">
  <app-cadastro [formularioCadastro]="formularioCadastro">
    <div class="box">
      <section class="app">
        <h3 class="gray-color">Tipo de profissional:</h3>

        <article class="opcao1">
          <input type="radio" id="opcao1" formControlName="codigo" value="1" />
          <div><label for="opcao1">Psicólogo</label></div>
        </article>

        <article class="opcao2">
          <input type="radio" id="opcao2" formControlName="codigo" value="2" />
          <div><label for="opcao2">Psiquiatra</label></div>
        </article>

        <article class="opcao3">
          <input type="radio" id="opcao3" formControlName="codigo" value="3" />
          <div><label for="opcao3">Outros</label></div>
        </article>

      </section>
    </div>
  </app-cadastro>
</form>