@font-face {
   font-family: 'OpenDyslexic';
   src:  url('./../../../../../assets/fonts/OpenDyslexic-Regular.otf'),
         url('./../../../../../assets/fonts/OpenDyslexic-Bold.otf'),
         url('./../../../../../assets/fonts/OpenDyslexic-BoldItalic.otf'),
         url('./../../../../../assets/fonts/OpenDyslexic-Italic.otf');
}

:root {
    --azul: #55ACEE;
    --verde: #12BD12;
    --laranja: #FF7800;
    --roxo: #800080;
    --vermelho: #F7000F;
    --amarelo: #FFCD32;
}

.bg-fundo, .bg {
   width: 100%;
   height: 100%;
}

.bg {
   background: linear-gradient(#800080, #FF7800, transparent);
   background-size: cover;
   background-position: center; 
   display: flex;
   justify-content: center;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100%;
   min-height: 800px;
}

.cadastro {
   width: 40%;
   background: rgba(255, 255, 255, .6);
   border-radius: 25px;
   justify-content: center;
   align-items: center;
   padding: 3em;
   margin: 3em;
}

.cadastro:hover {
   box-shadow: 15px 15px white;
}

.cadastro-conteudo, .btn-opcoes {
   width: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: auto;
   max-width: 30em;
   padding: 1.5em;
}

.box {
   font-family: 'OpenDyslexic';
   background: rgba(255, 255, 255, .01);
   border-radius: 25px;
   display: flex;
   padding: 4em;
   margin-top: 1em;
}

.btn-opcoes button {
   font-family: 'OpenDyslexic';
   background-color: #FF7800;
   justify-content: center;
   display: flex;
   color: white;
   font-size: 1em;
   padding: 1em;
   margin: .5em;
}

.btn-opcoes button:active {
   background-color: white;
   color: var(--laranja);
}

article {
   position: relative;
   width: 10em;
   height: 5em;
   margin: 5px;
   float: left;
   border: 2px solid #800080;
   box-sizing: border-box;
}

article div {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   line-height: 25px;
   transition: .5s ease;
}

article input {
   position: absolute;
   top: 0;
   left: 0;
   width: 140px;
   height: 100px;
   opacity: 0;
   cursor: pointer;
}

input[type=checkbox]:checked ~ div {
   background-color: #800080;
   color: white;
}
