<div id="body">
    <h2>Adicionar Postagem</h2>
<textarea id="post-content" [(ngModel)]="postContent" placeholder="Conteúdo da postagem"></textarea>
<input id="photo-upload" type="file" accept="image/*" (change)="onImageChange($event)" placeholder="Adicionar imagem">
<div id="img-previa-box">
  <img *ngIf="postImageUrl" [src]="postImageUrl" alt="Imagem selecionada" id="img-previa">
</div>
</div>
<div id="buttons">
    <button type="reset" id="BtnCancel" (click)="onCancel()">Cancelar</button>
    <button type="submit" id="BtnEnviar" (click)="onSubmit()">Enviar</button>
</div>



