<form [formGroup]="formPostagem" (ngSubmit)="criarPostagem()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ acaoHeader }}</mat-card-title>
        </mat-card-header>
        <div>
            <textarea formControlName="conteudo" type="textarea" placeholder="Digite sua mensagem"></textarea>
        </div>
        <div *ngIf="imagemSelecionada" formControlName="imagemUrl" id="img-previa-box">
            <img src="" alt="Image" />
        </div>
        <mat-card-actions align="end">
            <button mat-button type="button">
                <label for="photo-upload">
                    <input (change)="imagemCarregadaPost($event)" id="imagemUrl" type="file"
                        accept=".jpg, .jpeg, .png">
                    <mat-icon>insert_photo</mat-icon>
                </label>
            </button>
            <button mat mat-raised-button type="button" (click)="cancelarPostagem()">Cancelar</button>
            <button mat mat-raised-button type="submit">Publicar</button>
        </mat-card-actions>
    </mat-card>
</form>