<div class="bg-fundo">
    <div class="bg">
        <div class="login">
            <div class="header">Login</div>
                <form [formGroup]="login" (ngSubmit)="loginUsuario()">
                    <div>
                        <input formControlName="email" type="email" placeholder="email"/>
                    </div>
                    <div class="alertas-input" *ngIf="login.get('email')?.hasError('required')">
                        O campo email é obrigatório.
                    </div>

                    <div>
                        <input formControlName="senha" type="password" placeholder="senha"/>
                        <div class="alertas-input" *ngIf="login.get('senha')?.hasError('required')">
                            A senha é obrigatória.
                          </div>
                          <div class="alertas-input" *ngIf="login.get('senha')?.hasError('minlength')">
                            A senha deve ter pelo menos 8 caracteres.
                          </div>
                          <div class="alertas-input" *ngIf="login.get('senha')?.hasError('pattern')">
                            A senha deve conter pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial.
                          </div>

                    <div class="btn-entrar">
                        <button class="button" type="submit" mat-raised-button>Entrar</button>
                    </div>
                    <div class="btn-opcoes">        
                        <button type="button" class="button" routerLink="/reset-senha" mat-raised-button>Esqueci minha senha</button>
                        <button type="button" class="button" routerLink="/criar-usuario" mat-raised-button>Crie sua conta</button>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>