<app-nav-cabecalho></app-nav-cabecalho>
<div class="bg">
    <div class="postagens-feed">
        <section>
            <mat-card>
                <mat-card-header>
                    <img src="{{ postagem?.usuario?.img_perfil }}" mat-card-avatar>
                    <mat-card-title>{{ postagem?.usuario?.nome }}</mat-card-title>
                    <mat-card-subtitle>&#64;{{ postagem?.usuario?.username }}</mat-card-subtitle>
                    <div class="acoes-usuario">
                        <mat-card-actions>
                            <button mat-icon-button type="button" (click)="editarPostagem(postagem)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" type="button"
                                (click)="postagem.id && excluirPostagem(postagem.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    {{ postagem.conteudo }}
                    <img mat-card-image src="{{ postagem?.imagemUrl }}">
                </mat-card-content>
                <mat-card-actions>
                    <mat-icon class="acoes" (click)="curtido = !curtido">
                        {{curtido ? 'favorite' : 'favorite_border' }}
                    </mat-icon>
                    <mat-icon (click)="comentarios(postagem.id)" class="acoes">chat_bubble_outline</mat-icon>
                </mat-card-actions>
            </mat-card>
        </section>
    </div>

    <div class="comentarios-box">
        <section>
            <div class="comentarios">
                <h3 class="comentarios-titulo">Comentários</h3>
                <div class="comentarios-form-titulo">Escreva um comentário</div>
                <app-comentarios-input comentarioBtn="Enviar"></app-comentarios-input>
                <div class="comentario-conteudo">
                    <div *ngFor="let comentario of listaComentarios">
                        <app-comentario [comentario]="comentario"></app-comentario>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<app-nav-rodape></app-nav-rodape>