<form [formGroup]="formularioCadastro">
    <app-cadastro [formularioCadastro]="formularioCadastro">
        <div>
            <input formControlName="cnpj" type="text" placeholder="cnpj" />
        </div>
        <div class="alertas-input" *ngIf="formularioCadastro.get('cnpj')?.hasError('required')">
            * O campo CNPJ é obrigatório. Somente números
        </div>
        <div class="alertas-input" *ngIf="formularioCadastro.get('email')?.hasError('pattern')">
            * Formato de CNPJ inválido.
        </div>
    </app-cadastro>
</form>