<div class="comentario">
    <div class="comentario-imagem">
        <img src="{{ comentario?.usuario?.img_perfil }}" mat-card-avatar  alt=""/>
    </div>
    <div class="comentario-direita">
        <div class="comentario-conteudo">
            <div class="comentario-autor">&#64;{{ comentario.usuario.username }}</div>
        </div>
        <div class="comentario-texto">{{ comentario.conteudo }}</div>
        <div class="comentarios-acoes">
            <mat-card-actions>
                <button mat-icon-button type="button" (click)="edicaoComentario()">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" type="button" (click)="excluirComentario(comentario.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
            </mat-card-actions>
        </div>
        <div class="edicao">
            <app-comentarios-input-edicao [comentarioId]="comentario.id" *ngIf="editando"
                comentarioBtn="Atualizar"></app-comentarios-input-edicao>
        </div>
    </div>
</div>
