<nav class="nav">
  <div class="nav__link" (click)="inicio()" >
    <mat-icon>home</mat-icon>
    <span class="nav__text">Inicio</span>
  </div>
  <div class="nav__link">
    <mat-icon>search</mat-icon>
    <span class="nav__text">Busca</span>
  </div>
  <div class="nav__link" (click)="criarPostagem()">
	<mat-icon>add</mat-icon>
    <span class="nav__text">Criar postagem</span>
  </div>
  <div class="nav__link">
    <mat-icon>work_outline</mat-icon>
    <span class="nav__text">Vagas</span>
  </div>
  <div class="nav__link">
    <mat-icon>perm_identity</mat-icon>
    <span class="nav__text">Perfil</span>
</div>
</nav>